@import '../_variables.scss';


.field_acc {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    height: 100%;
    .inputFilms {
    grid-column: 1 / 3;
    flex-direction: column;
    display: flex;
    align-items: center;
    padding: 10px;
    h2 {
        margin-bottom: 2%;
    }
    ol {
        display: flex;
        flex-direction: column;
        li {
            align-items: flex-start;
        }
    }
    }
    .info {
    grid-column: 3;
    flex-direction: column;
    display: flex;
    align-items: center;
    }
    .img_button {
        flex-direction: row;
    }
    button {
        background-color: $colorButton;
        color: $colorLight; 
        border-width: 1px;
        font-size: 12px; 
        width: 80px;
        height: 40px;
        margin: 10px;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
    }
    img {
        width: 350px;
        height: 400px;
    }
}