@import '../_variables.scss';

@mixin sign {    
    .sign{ 
        padding: 15px; 
        margin: 10px 0 10px 8px;  
        justify-content: center;
        width: 7vw;
        height: 40vh;
        min-width: 210px;
        display: flex;
        align-items: center;
        align-content: center;
        flex-direction: column;
        border-radius: 20px;
        background: $colorButton;
        border: 0;
        figcaption {
            text-align: center;
            margin-top: 10px;
            color: $colorLight;
        } 
        img{
            width: 180px;
            height: 250px; 
    }  
}
    
}
@include sign();
.order{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    padding-top: 3%;
}
.order_button {
    flex-direction: row;
}


