.sign {
  padding: 15px;
  margin: 10px 0 10px 8px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 7vw;
  height: 40vh;
  min-width: 210px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 20px;
  background: #ffffff;
}
.sign li {
  border-color: black;
  border-width: 20px;
}
.sign figcaption {
  text-align: center;
  margin-top: 10px;
  color: #ffffff;
}
.sign img {
  width: 180px;
  height: 250px;
}

.scrollmenu {
  height: 100%;
  padding-bottom: 1%;
}
.scrollmenu ul {
  overflow: scroll;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 400px;
  overflow-y: hidden;
}
.scrollmenu ul button {
  background-color: #dd4343;
  color: #ffffff;
  border-width: 1px;
  font-size: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: left;
  width: 80px;
  height: 50px;
  margin: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 10px;
}
.scrollmenu li {
  padding-top: 35px;
  padding-left: 20px;
}

.main {
  width: 100%;
  height: 100%;
}
.main .gradient {
  padding-top: 1.5%;
  padding-bottom: 2%;
}
.main h1 {
  padding-top: 5px;
  color: #dd4343;
  padding-left: 10px;
}
.main h3 {
  color: #0a2238;
}
.main figcaption {
  color: #0a2238;
}