/* 

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}








title{
  color: #251208;
  padding-top: 100px;
}




.login{
  display: flex;
  justify-content:flex-end;
  align-items: flex-start;
  padding-top: 10px;

}
.signOut{
  height: 35px;
  width: 90px;
  font-size: 15px;
  border-radius: 10px;
  border-width: 1px;
  background-color: #f0b761  ;
  border-color: #0D2387;
}

p{
  padding: 10px;
}
.header{
  grid-column: 1;
  display: flex;
  justify-content:baseline
}

 */
